* {
  box-sizing: inherit;
}

html, body {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #0A0202;
  min-height: 100vh;
  min-width: 100vh;
  background: url(./img/matt-profile-try.jpg) #FFFFFF;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  cursor: crosshair;
}


h1 {
  font-size: 3rem;
  font-family:'Reenie Beanie', cursive;
  font-weight: 200;
  margin: 2rem 0 2rem 0;
}

a {
  text-decoration: none;
  color: #0A0202;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
ul > li {
  margin-left: 1.5rem;
  position: relative;
  color: #000;
  text-decoration: none;
}
ul > li:hover {
  color: #000;
}

ul > li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

ul > li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

p {
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 0;
}

.centered {
  margin: 0 2rem 0 2rem;
  width: 100%;
}

.social img {
  max-width: 2rem;
  margin-right: 0.5rem;
}

.social a {
  border-bottom: 0;

}

.info {
  max-width: 30rem;
}

.painting {
  position:  fixed;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  z-index: 2;
  width: 1100px;
}

.colors a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin: 5px 0 0 0;
}

.send-painting {
  display: flex;
  flex-direction: row;
}

.send-painting p {
  font-family:'Reenie Beanie', cursive;
  font-size: 1.8rem;
}
.send-painting img {
  max-width: 2rem;
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  .centered {
    margin: 0 2rem 0 2rem;
  }

}

@media (min-width: 960px) {
  h1 {
    font-size: 8rem;
    font-family:'Reenie Beanie', cursive;
    font-weight: 200;
    margin: 2rem 0 2rem 0;
  }

  .centered {
    margin: 0 auto;
    width: 1050px;
  }

  .colors a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 10px 0 0;
  }
}
@media (min-width: 1500px) {
  .centered {
    margin: 0 auto;
    width: 1050px;
  }
}
